.ourProd {
  display: block;
  margin: 45px auto;
  width: 120%;
  min-width: 100%;
  text-align: center;
  background-image: url('https://sunshint.spb.ru/img/bg_sun.png');
  background: #f8f8f8;
  margin-left: auto;
  margin-right: auto;

  width: 95%;
  &__span {
    margin-bottom: 25px;
    position: relative;
    font-weight: 400;
    font-size: 20px;
    color: #008993;
    background-color: #fff;
    font-family: Tahoma, sans-serif;
    padding-left: 10px;
    &::after {
      content: "";
      width: 40px;
      right: -55px;
      height: 1px;
      background-color: #008993;
      display: block;
      position: absolute;
      top: 12px;
    }
    &::before {
      content: "";
      width: 40px;
      height: 1px;
      display: block;
      position: absolute;
      background-color: #008993;
      top: 12px;
      left: -55px;
    }
  }
  &__p {
    line-height: 20px;
    margin-top: 30px;
    // color: yellowgreen;
    padding-left: 15px;
    padding-right: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-family: 'Tahoma', sans-serif;
    font-size: 14px; 
    padding-bottom: 30px;
  }
  &__ul {
    margin-left: 5px;
    margin-right: 5px;
    gap: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    padding-bottom: 80px;

    &_li {

      .div {
        width: 150px;
        height: 150px;
        border: 2px dashed #eee9e3;
        border-radius:  50%;
        background-color: #fff;

      }
      .img {
        // margin: auto;
        width: 150px;
        height: 150px;
        padding: 15px;
        box-sizing: border-box;
      }

    }
  }
}