.h2 {
  text-align: center;
  margin-bottom: 50px;
  .span {
    padding: 0;
    margin: 0;
    position: relative;
    font-weight: 400;
    font-size: 20px;
    color: #008993;
    background-color: #fff;
    font-family: Tahoma, sans-serif;
    &::after {
      content: "";
      width: 40px;
      right: -55px;
      height: 2px;
      background-color: #008993;
      display: block;
      position: absolute;
      top: 12px;
    }
    &::before {
      content: "";
      width: 40px;
      height: 2px;
      display: block;
      position: absolute;
      background-color: #008993;
      top: 12px;
      left: -55px;
    }
  }
}
.p {
  font-family: Tahoma, sans-serif;
  text-align: center;
  align-items: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 50px;
  unicode-bidi: isolate;
  padding: 0 5px;
  white-space: unset;
}

.ul {
  list-style: none;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  // flex-direction: column;
  
  justify-content: space-evenly;
  padding: 0;

  .item {
    transition: all .5s;
    position: relative;
    width: 280px;
    height: 215px;
    border: 1px solid black;
    // overflow-x: hidden;
    margin-bottom: 15px;
    &:hover {
      box-shadow: 4px 4px 4px 4px gray;
    }
    &__isNew {
      // display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      right: -5px;
      top: -15px;
      color: red;
      transform: rotate(25deg);
    }
    &__title {
      margin: 0;
      padding: 10px 3px;
    }
    &__img {
      width: 260px;
      height: 120px;
    }
    &__body {
      overflow: hidden;
      transition: all 1s;
      width: 260px;
      height: 0;
      position: absolute;
      top: 25%;
      left: 10px;
      font-size: 12px;
      background-color: #fff;
    }
    &__bodyShow {
      transition: all 1s;

      width: 260px;
      height: 95px;
      position: absolute;
      top: 19%;
      left: 10px;
      font-size: 12px;
      background-color: #ffffffaa;
      padding: 5px 0;
    }
    &__button {
      border: 1px solid #008993;
      width: 180px;
      height: 35px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 20px;
      padding: 8px auto 3px auto;
      background-image: linear-gradient(#008993, #008993);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: background-size 0.3s, color 0.5s;
      &:hover {
        background-size: 100% 100%;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
