.headerDiv {
  background-color: #53ccbd;
  text-align: center;
  padding: 10px 5px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}